[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "1.1.2"
flask-restful = "0.3.8"
flask-migrate = "*"
flask-script = "*"
flask-sqlalchemy = "*"
psycopg2 = "*"
requests = "*"

[requires]
python_version = "3.7"
